.lot-img {
  width: 100%;
  border-radius: var(--radius-squircle);
  margin-bottom: 15px;
}

.bigger-icon-size img {
  width: 20px;
}

.lot-container .lot-body {
  display: grid;
  grid-template-columns: 1fr 20px;
}

.lot-body .bookmark-btn {
  background: none;
  border: none;
  padding: 0;
}
