.fieldtext-container {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: none;
  background-color: #f8f8f8;
  font-size: 1rem;
  font-family: 'Montserrat';
}

.fieldtext-container.border {
  background-color: white;
  border: 1px solid #bdbdbd;
}

.fieldtext-container.marginTop {
  margin-top: 5px;
}

.spacer {
  height: 15px;
}
