.fieldtext-container {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: none;
  background-color: var(--fieldtext-bg);
  font-size: 1rem;
  font-family: 'Montserrat';
}

textarea.fieldtext-container.error-border,
input.fieldtext-container.error-border {
  border: 2px solid red;
  padding: 15px;
}

.fieldtext-container.border {
  background-color: var(--app-bg);
  border: 1px solid #bdbdbd;
}

.fieldtext-container.marginTop {
  margin-top: 5px;
}

.fieldtext-label {
  font-size: 1rem;
}

.error-msg {
  margin-top: 0;
  margin-bottom: 8px;
  color: red;
  font-weight: 600;
  height: 18px;
}
