.icon-button-container {
  border: none;
  background-color: var(--fieldtext-bg);
  padding: 15px 17px;
  border-radius: 10px;
}

.icon-button-container img {
  height: 1rem;
  filter: invert(var(--svgColor));
}
