.radio-btn-container {
  width: 100%;
  display: inline-block;
  padding: 16px 10px;
  border: 1px solid #bdbdbd;
  border-right: none;
  transition: 0.5s;
}
.radio-btn-container.checked {
  background-color: var(--primary-bg);
  color: white;
  transition: 0.5s;
}

.radio-btn-container:first-child {
  border-radius: 10px 0 0 10px;
}

.radio-btn-container:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #bdbdbd;
}

.radio-btn-container input {
  display: none;
}
