.results-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-container {
  display: flex;
  width: 100%;
  height: 65px;
  border-radius: var(--radius-squircle);
  font-size: 1rem;
  align-items: center;
}

.result-container .result-img {
  margin-right: 10px;
  border-radius: var(--radius-squircle);
}

.result-container .result-detail,
.result-container .result-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.result-container .result-detail {
  min-width: 45%;
}

.result-container .result-price {
  font-size: 1.3rem;
  font-weight: 600;
}

.result-container .result-price .frecuency {
  font-size: 1rem;
  font-weight: normal;
}

.result-container .result-price .since {
  font-weight: normal;
  font-size: 0.75rem;
  color: grey;
}

.result-container .right-arrow {
  height: 20px;
  padding-right: 10px;
  transform: rotate(180deg);
}

.btn-delete,
.btn-accept {
  padding: 15px;
  background: none;
  border: none;
  border-radius: var(--radius-squircle);
}

.btn-delete img,
.btn-accept img {
  height: 0.65rem;
  filter: invert(100%);
}

.btn-delete {
  background-color: grey;
  padding: 15px 20px;
  margin-right: 5px;
}

.btn-accept {
  background-color: var(--primary-bg);
}
