header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 7px;
}

header .left-img {
  height: 24px;
}

header .left-img.big-size {
  height: 35px;
}

header .profile-pic {
  height: 50px;
  border-radius: 12px;
}

.title {
  font-size: 1.55rem;
  text-align: left;
}
