header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 4px;
}

header .left-img {
  height: 30px;
  width: 30px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-image: var(--arrow-url);
}

header .left-img.big-size {
  height: 41px;
  width: 57px;
  background-size: 55px;
  background-repeat: no-repeat;
  background-image: var(--logo-url);
}

header .profile-pic {
  height: 50px;
  border-radius: 12px;
}

.title {
  font-size: 1.55rem;
  text-align: left;
}

.height50 {
  height: 50px;
}

.signin-btn {
  padding: 15px 5px 15px 1px;
}

.signin-btn img {
  height: 24px;
}
