.footer-container {
  z-index: 1;
  padding: 5px 10px 20px 10px;
  width: 100%;
  height: 80px;
}

.nav-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.footer-container a {
  position: relative;
  display: flex;
  flex-basis: 55px;
  list-style: none;
  margin: auto 0;
  height: 50px;
}

.item-container img {
  margin: auto;
  height: 20px;
  filter: invert(var(--svgColor));
}

.item-container.active img {
  filter: invert(100%);
  transition: 0.95s;
}

.footer-container #marker {
  position: absolute;
  left: 0;
  height: 50px;
  width: 55px;
  background-color: #191f42;
  bottom: 22px;
  transition: 0.5s;
  border-radius: 10px;
}
