:root {
  --radius-squircle: 12px;
  --primary-bg: #191f42;
}

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0 10px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.App {
  height: 100vh;
  min-height: -webkit-fill-available;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 70px 96px 1fr auto;
  grid-template-areas: 'header' 'sub-header' 'non-scroll-main' 'main' 'footer';
}

.App.without-non-scroll-main {
  grid-template-rows: auto 70px 0px 1fr auto;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .App {
    height: calc(100vh - 100px);
  }
}

header {
  grid-area: header;
}

.sub-header {
  grid-area: sub-header;
  margin-bottom: 15px;
}

.non-scroll-main {
  grid-area: non-scroll-main;
  margin-bottom: 20px;
}

main {
  grid-area: main;
  overflow-y: scroll;
  padding-bottom: 10px;
}

footer {
  grid-area: footer;
}

.result-counter {
  float: right;
  margin-top: 5px;
  opacity: 0.5;
  font-size: 0.78rem;
}
